.row ul{
	display:block;
	float:left;
	margin:0;
}
.row ul li{
	display:block;
	float:left;
	width:100%;
	padding:10px 20px;
	border-top:1px solid #333;
	box-sizing:border-box;
}
.row ul li p{
	display:block;
	float:left;
	width:50%;
	font: 13px/16px arial, sans-serif;
	color: #333;
	padding:0;
}
.row ul li div{
	display: block;
	float: left;
	width: 50%;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;
}



.row ul li div a.one{
	display:block;
	margin:0 auto;
	border-radius: 5px;
	width: 42px;
	height: 42px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 25px;
	background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(204,204,204,0.5) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(204,204,204,0.5)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(204,204,204,0.5) 100%);
	background: -o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(204,204,204,0.5) 100%);
	background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(204,204,204,0.5) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(204,204,204,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#80cccccc',GradientType=0);
}
.row ul li div a.one:hover{
	background: -moz-linear-gradient(top,rgba(204,204,204,0.5) 0%,rgba(255,255,255,0.5) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(204,204,204,0.5)),color-stop(100%,rgba(255,255,255,0.5)));
	background: -webkit-linear-gradient(top,rgba(204,204,204,0.5) 0%,rgba(255,255,255,0.5) 100%);
	background: -o-linear-gradient(top,rgba(204,204,204,0.5) 0%,rgba(255,255,255,0.5) 100%);
	background: -ms-linear-gradient(top,rgba(204,204,204,0.5) 0%,rgba(255,255,255,0.5) 100%);
	background: linear-gradient(to bottom,rgba(204,204,204,0.5) 0%,rgba(255,255,255,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80cccccc',endColorstr='#80ffffff',GradientType=0);
}
.row ul li div a.two{
	display: block;
	float: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 20px;
	height: 40px;
	width: 160px;
	text-align: center;
	font: 18px/38px "Russo One", Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #2f9bb5;
	padding-left: 25px;
	background: rgb(254,254,254);
	background-image: url('dress/dl-icon.png') no-repeat 20px center;
	background-image: url('dress/dl-icon.png'), -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(222,222,222,1) 100%);
	background-image: url('dress/dl-icon.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(222,222,222,1)));
	background-image: url('dress/dl-icon.png'), -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(222,222,222,1) 100%);
	background-image: url('dress/dl-icon.png'), -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(222,222,222,1) 100%);
	background-image: url('dress/dl-icon.png'), -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(222,222,222,1) 100%);
	background-image: url('dress/dl-icon.png'), linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(222,222,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dedede',GradientType=0 );
	background-position: 18px center,center center;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 1px #777;

}

.wrapper{
	display:block;
	float:left;
	width:100%;
	border:1px solid #111;
	border-radius:5px;
}
.wrapper .ex-menu{
	display:block;
	float:left;
	width:100%;
	height:0px;
	margin-bottom:5px;
	overflow:hidden;
	-webkit-transition: max-height 0.4s;
	-moz-transition: 	max-height 0.4s;
	-o-transition: 		max-height 0.4s;
	transition: 		max-height 0.4s;
	max-height:0px;
}
.wrapper.open .ex-menu{
	height:auto;
	-webkit-transition: max-height 0.4s;
	-moz-transition: 	max-height 0.4s;
	-o-transition: 		max-height 0.4s;
	transition: 		max-height 0.4s;
	max-height:400px;
}
.wrapper .ex-menu ul,
.wrapper .ex-menu ul li{
	border:0;
}
.wrapper .ex-menu ul li a{
	text-decoration:none;
	color:#333;
	text-transform:uppercase;
	font: bold 20px 'Istok Web', sans-serif;
}
.wrapper .ex-menu ul li a:hover{
	text-decoration:underline;
}
#toggle {
	display:block;
	float:right;
	padding:20px;
	z-index: 1000;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.5s cubic-bezier(0.5, 0.1, 0.3, 0.5);
	-moz-transition: 	all 0.5s cubic-bezier(0.5, 0.1, 0.3, 0.5);
	-o-transition: 		all 0.5s cubic-bezier(0.5, 0.1, 0.3, 0.5);
	transition: 		all 0.5s cubic-bezier(0.5, 0.1, 0.3, 0.5);
}
#toggle:hover {
	-webkit-transition: top 0.4s;
	-moz-transition: 	top 0.4s;
	-o-transition: 		top 0.4s;
	transition: 		top 0.4s;
}
#toggle:hover .toggle-element:before {top: -8px;}
#toggle:hover .toggle-element:after {top: 4px;}

#toggle .toggle-element {
	width: 24px;
	height: 4px;
	margin: 10px 0;
	background: #f80;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	padding:0;
	box-sizing:initial;
}
#toggle .toggle-element:before {top: -7px;}
#toggle .toggle-element:after {top: 3px;}

#toggle .toggle-element:before, 
#toggle .toggle-element:after {
	content: '';
	display: block;
	width: 24px;
	height: 4px;
	background: #f80;
	position: relative;
	z-index: -1;
	-webkit-transition: all 0.4s;
	-moz-transition: 	all 0.4s;
	-o-transition: 		all 0.4s;
	transition: 		all 0.4s;
}
.open #toggle .toggle-element {
	background: none;
}
.open #toggle .toggle-element:before {
	top: 0px;
	background: #111;
	-webkit-transform: 	rotate(-45deg);
	-moz-transform: 	rotate(-45deg);
	-ms-transform: 		rotate(-45deg);
	-o-transform: 		rotate(-45deg);
	transform: 			rotate(-45deg);
}
.open #toggle .toggle-element:after {
	top: -4px;
	background: #111;
	-webkit-transform: 	rotate(45deg);
	-moz-transform: 	rotate(45deg);
	-ms-transform: 		rotate(45deg);
	-o-transform: 		rotate(45deg);
	transform: 			rotate(45deg);
}